<!DOCTYPE HTML>
<html>
   <head>
      <title>Dashboard</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <header>
         Aplikasi Manajemen Pegawai
      </header>
      <div class="container">
         <aside>
            <ul class="menu">
               <li> <a href="dashboard.html" class="aktif">Dashboard</a> </li>
               <li> <a href="tabel.html">Data Pegawai</a> </li>
               <li> <a href="tabel.html">Data Jabatan</a> </li>
               <li> <a href="login.html">Keluar</a> </li>
            </ul>
         </aside>
         <section class="main">
            <h1>Selamat Datang di Aplkasi Manajemen Pegawai</h1>
            <h3>Anda login sebagai Administrator</h3>
         </section>
      </div>
      <footer>
         Copyright &copy; Rohi Abdulloh
      </footer>
   </body>
</html>