<!DOCTYPE HTML>
<html>
   <head>
      <title>Dashboard</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <header>
         Aplikasi Manajemen Pegawai
      </header>
      <div class="container">
         <aside>
            <ul class="menu">
               <li> <a href="dashboard.html" class="aktif">Dashboard</a> </li>
               <li> <a href="tabel.html">Data Pegawai</a> </li>
               <li> <a href="tabel.html">Data Jabatan</a> </li>
               <li> <a href="login.html">Keluar</a> </li>
            </ul>
         </aside>
         
<section class="main">
   <h2 class="judul">Data Pegawai</h2>
   <a class="tombol" href="form.html">Tambah</a>

   <table class="table">
      <thead>
         <tr>
            <th>No</th>
            <th>Foto</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Tanggal Lahir</th>
            <th>Jabatan</th>
            <th>Keterangan</th>
            <th>Aksi</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>1</td>
            <td><img src="images/daffa.png" width="100"></td>
            <td>Daffa' Shidqi</td>
            <td>L</td>
            <td>9 Juli 2015</td>
            <td>Direktur</td>
            <td>-</td>
            <td>
               <a class="tombol edit" href="#"> Edit </a>
               <a class="tombol hapus" href="#"> Hapus </a>
            </td>
         </tr>
         <tr>
            <td>2</td>
            <td><img src="images/nabil.png" width="100"></td>
            <td>Annisa Nabil</td>
            <td>P</td>
            <td>31 Juli 2011</td>
            <td>Manajer</td>
            <td>-</td>
            <td>
               <a class="tombol edit" href="#"> Edit </a>
               <a class="tombol hapus" href="#"> Hapus </a>
            </td>
         </tr>
         <tr>
            <td>3</td>
            <td><img src="images/kaesang.png" width="100"></td>
            <td>Kaesang Ayu</td>
            <td>P</td>
            <td>9 Juli 2016</td>
            <td>sekretaris</td>
            <td>-</td>
            <td>
               <a class="tombol edit" href="#"> Edit </a>
               <a class="tombol hapus" href="#"> Hapus </a>
            </td>
         </tr>
      </tbody>
   </table>
</section>

      </div>
      <footer>
         Copyright &copy; Rohi Abdulloh
      </footer>
   </body>
</html>